
@media screen and
  (max-width: 640px){
    .collapse {
        display: block;
    }
.navbar-collapse{
    position: relative;
    padding-left: 30px;
}
.navbar-nav {
    margin: 1.5px -70px;
}
ul li {
    float: left;
    list-style: none;
    padding: 0px;
    margin-bottom: 50px;
    
}
.center {
    padding-top: 70px;
    padding-left: 20px;
}
.left-half {
        height: auto;
        width: 100%;
        padding: 0;
        margin-top: 0px; 
        margin-left: -20px;
        margin-top: 20px;    
      }
.left-half h1 {
 padding-top: 0px; 
 padding-left: 20px;
   }

.left-half h4{ 
    padding-top: 0px;
    padding-left: 20px;   
    }

.left-half h5{
        padding-top: 0px;
        padding-left: 20px;
            }
.left-half p{
    padding-top: 0px;
    padding-left: 20px;
    margin-bottom: -70px;
}

.right-half {
       float: none;
       height: auto;
        width: 100%; 
        margin-top: 700; 
        }
.right-half img{
width: 56%; 
    }
.right-half p {
        margin-left: 10px;
        margin-top: 30px;
    }
.logoargle {
            border: 5px double #f2f2f2;
            margin-left: 0px; 
            margin-top: 80px;
            padding-bottom: 50px;
            background-color: #f9f9f9;
            margin-right: 0px;
}
.logoargle p{
    margin-left: -10px;
}
.column{
    width: 100%;
    float: none;
    height: auto;
    margin-top: -86px;
    position: absolute;
   
}
.right_column p {
    height: auto;
    width: 100%;
    float: none;    
    padding-top: 220px;
    margin-left: 20px;
    color: white;
    font-size: 12px;
}
.image {
    float: right;
    width: 25%;
    margin-right: 50px;
    margin-top: 50px;
    text-align: center;
    color: white;
}

.column h2{   
    font-size: 24px;
    padding-top: 20px;
    }
.right_column{
    float: none;
    height: auto;
    width: 100%;
}
.subscribe {
    padding-top: 0px;
    padding-left: 10px;
    float: none;
}
.subscribe img {
    padding-top: 25px;
    margin-left: 75px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 15px;
    font-weight: 700;
}
.form_update {
    margin-left: 40px;
}
.form_update input[type=text] {
    padding: 12px 2px;
    margin: -16px 0px;
    width: 240px;
    background-color: transparent;
    border: none;
    border-top: 1px solid white;
}
.roadmap{
    height: auto;
    width: 100%;
}
.map{
width: 100%;
float: none;
}
h1{
    padding-left: 50px;
    padding-top: 20px;
            }
h2{
padding-left: 50px;
    }
.map p{
font-size: 9px;
font-family: 'mont-bold';
}
.token{
    width: 100%;
    height:100%;
    margin-bottom: 220px;
    }
.left_corner{
width: 100%;
position: absolute;
}
.leader{
    float: none;
    margin: 0 10px 0 -45px;
}
.ceo{    
    position: absolute;
    padding-left: 0px;
    }
.ceo h3{
    margin: 0px;
    padding: 0px;  
}
.team h1 {
    font-family: 'mont-bold';
    color: #3754a1;
    padding: 0px;
    padding-bottom: 0px;
}
.profile{    
    float: none;
    padding-top: 135px;
    width: 100%;
    height: auto;    
}
.profile h2{
    margin: 0px;
    padding-top: 20px;
}
.profile p{
      position: relative;      
      padding: 0px;
      margin-bottom: 30px;
        }
.manage_form{
            width: 100%;
            height: auto;
            position: absolute;
            }
.andriod{
                position: relative;
                text-align: center;
                   }
.andriod input{
                background-color: white;
                height: 55px;
                width: 250px;
                margin-left: 35px;
                float: none;
}
.mobile{
    width: 100%;
    height: 100%;
    float: none;
    margin-top: 400px;
    margin-left: -154;
        }

.about{
        height:auto;
        position: absolute;        
    }    
.about img{
        height: 180px;;
        width: 350px;
        padding-right: 200px;
}
.about h3{
    margin-left: -240px;
}
.about p{
    margin-left: -200px;
}
.jenni{
        height: auto;
        width: 100%;
        margin-top: 0px;
          }
.jenni h2{
        position: absolute;
        margin-top: 80px;
    }
.jenni h3{
        position: absolute;
        margin-top: 20px;
        margin-left: 7px;
        }
.jenni p{
        margin-top: 115px;
        position: absolute;
     }
.members{
        margin-top: 400;
        padding-left: 50px;         
    }
.members img{
        height: 180px;
        width: 200px;        
    }
.styling{
        padding-left: 5px;
        margin-top: 250px; 
        margin-bottom: 20px;
    }
.left-div {
        float: none;
        width: 100%;
        height: auto;
        background-color: black;
        margin-top: 750px;
}
.left-div form {
        padding-left: 0px;
        }
.left-div h1 {
        text-align: left;
        }
.submit {
     margin-bottom: 30px;
     margin-left: -50px;
        }
.right-div {
    height: auto;
    width: 100%;
    background-color: #3854a2;
    float: right;
}
.right-div p{
    margin-left: 30px;
}
.fa {
    padding: 10px;
    font-size: 16px;
    margin-left: -5px;
}
.fa.fa-pull-left {
    margin-right: 0px;
    padding: 19px;
    padding-left: 40px;
}
}

@media only screen and (min-width: 641px) and (max-width:767px){
.navbar-header {
    height: 70px;
    margin-top: 10px;
    }
.collapse {
        display: block;
    }
.navbar-collapse{
    padding-left: 30px;
}
.navbar-nav {
    margin: 1.5px -75px;
}
.nav>li {
    position: relative;
    display: block;
}
ul li {
    list-style: none;
    float: none;
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    }
.center {
    padding-top: 0px;
    padding-left: 220px;
}
.left-half {
    height: auto;                  
      }

.left-half h4 {
        padding-left: 33px;
        padding-top: 10px;
        font-size: 26px;
        }
.left-half h1 {
            padding-top: 0px; 
            padding-left: 20px;
              }
           
.left-half h4{ 
               padding-top: 0px;
               padding-left: 20px;   
               }
           
.left-half h5{
        padding-top: 0px;
        padding-left: 20px;
                       }
.left-half p{
        padding-top: 15px;
        padding-left: 20px;
        margin-bottom: -55px;
           }
.left-half .coin {
    margin-top: 0px; 
}
.logoargle {
    border: 5px double #f2f2f2;
    margin-left: 25px;
    margin-top: 30px;
    padding-bottom: 50px;
    background-color: #f9f9f9;
    margin-right: 0px;
}
.logoargle img{
height: 200px;
width: 200px;
}
.logoargle p{
    padding-top: 10px;
}
.right-half p {
    margin-left: 27px;
    margin-top: 80px;
}
.image {
    float: right;
    width: 25%;
    margin-right: 50px;
    margin-top: 70px;
    text-align: center;
    color: white;
}
.column h2 {
    color: white;
    padding-top: 35px;
    font-size: 44px;
    text-align: center;
    padding-left: 0px;
}
.right_column p {
    color: white;
    margin-top: 45px;
    margin-right: 0px;
    margin-left: 30px;
    float: right;
}
.map {
    width: 33%;
    float: left;
    margin-top: 35px;
    text-align: center;
    font-family: 'mont-bold';
    padding: 3px;
}
.roadmap h2{
    margin-top: 0px;
}
.subscribe {
    padding-top: 20px;
    padding-left: 130px;
    }
.form_update {
    color: white;
    padding-top: 165px;
    margin-left: 200px;
}
.right_corner{
    height: 668px;
}
.team h3 {
    padding-top: 120px;
    padding-left: 12px;
   }
.team h1 {
    padding-bottom: 20px;
    padding-left: 10px;
}
.ceo h3 {
    padding: 0px;
}
.profile {
    float: none;
    margin-left: 260px;
    padding-top: 0px;
}
.profile h2{
padding-left: 0px;
margin: 10px;
}
.profile p {
    margin-bottom: 50px;
    padding-right: 0px;    
    }
.manage_form {
        width: 100%;
        height: auto;
        background-color: #3754a1;
        position: absolute;
    }
.manage_form h1 {
    color: white;
    margin-bottom: 0px;
    padding-left: 1px;
}
.andriod {
    position: relative;
    padding-right: 160px;
    text-align: center;
}
.mobile {
        width: 100%;
        height: auto;
        background-color: #f4f4f4;
        margin-top: 350px;
        margin-right: 129px;
    }

.jenni h3 {
    padding-left: 0px;
    margin-top: -125px;
}
.styling {
    padding-left: 25px;
}
.jenni {
    float: right;
    height: auto;
    padding-right: 200px;
}
.left-div {
    float: left;
    width: 50%;
    height: 650px;
    background-color: black;
}
.left-div h1 {
    text-align: left;
}
.left-div form {
    text-align: center;
    padding-left: 40px;
}
.right-div {
    width: 50%;
    height: 650px;
    background-color: #3854a2;
    float: auto;
    }
.right-div p {
    color: white;
    margin-left: 50px;
    margin-top: 25px;
}
ul li {
    list-style: none;
    float: none;
    list-style: none;
    padding: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.media{
    padding: 0px;
    margin-left: -7px;
}
.fa.fa-pull-left {
    margin-right: 0px;
    padding: 2px;
    padding-left: 30px;
    margin-top: -43px;
}
}

@media only screen and (min-width: 768px) and (max-width:992px){
    .navbar-nav li a {
        margin-left: 0px;
        color: white;
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
    }
.center {
        padding-top: 130px;
        padding-left: 400;
    }
.left-half h4 {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 26px;
    }
.left-half h1{
    padding-left: 10px;
}
.left-half .coin {
    margin-top: 10px;
    padding-left: 10px;
    font-size: 11px;
}
.left-half h5 {
    padding-left: 10px;
    font-size: 20px;
}
.left-half p {
    padding-left: 10px;
    margin-bottom: -25px;
}
.right-half {
    float: right;
    width: 45%;
    padding-bottom: 50px;
}
.right-half p {
    margin-left: 0px;
    margin-top: 15px;
}
.logoargle {
    border: 3px double #f2f2f2;
    margin-left: -4px;
    margin-top: 25px;
    padding-bottom: 15px;
    background-color: #f9f9f9;
    margin-right: -20px;
}
.logoargle img{
    height: 250px;
    width: 240px;
}
.column h2 {
    color: white;
    padding-top: 70px;
    font-size: 44px;
    padding-left: 5px;
}
.right_column p {
    color: white;
    margin-top: 85px;
    margin-left: 50px;
    margin-right: 5px;
    float: right;
}
.subscribe {
    padding-top: 0px;
    padding-left: 170px;
    float: left;
}
.form_update {
    color: white;
    margin-left: 262px;
    padding-top: 145px;
}
.right_corner {
    padding-bottom: 50px;
    height: 626px;
    width: 50%;
    background-color: #f4f4f4;
    float: right;
}
.team h3 {
    padding-top: 90px;
}
.team h1 {
    font-family: 'mont-bold';
    color: #3754a1;
    padding: 0px;
}
.leader {
    float: left;
    padding: 32px;
}
.ceo h3 {
    margin: 0px;
    padding: 0px;
}
.profile {
    padding-left: 370px;
    padding-top: 0px;
}
.profile p {
    margin-bottom: 50px;
    padding-right: 0px;
}
.manage_form h1 {
    margin-bottom: 50px;
    text-align: left;
}
.andriod {
    position: relative;
    padding-right: 50px;
    text-align: center;
    padding-top: 20px;
}
.mobile {
    width: 67%;
    height: auto;
    background-color: #f4f4f4;
    float: right;
}
.about {
    text-align: center;
    padding-top: 70px;
    position: relative;
    }
.members {
    margin-top: -100px;
    padding-left: 106px;
}
.jenni {
    padding-left: 200px;
    margin-top: 40px;
    float: none;
}
.styling ul{
    margin-bottom: -350px;
  }
.styling ul li {
    float: left;
    list-style: none;
    margin-bottom: 25px;
    margin-left: 137px;
}
.left-div h1 {
    color: white;
    padding-left: 25px;
}
.left-div form {
    padding-left: 22px;
}
.media {
    float: left;
    text-align: center;
    padding: 20px;
    margin-left: 0px;
}
}